{% extends "index.html.twig" %}

{% block title %}Modifier une épreuve{% endblock %}
{% block content %}
    <a href="/epreuves" class="btn btn-primary">Retour</a>
    <h1>Modifier une épreuve</h1>
    <form action="/epreuve/modification/{{ contest.identifier }}" method="post" class="needs-validation" novalidate>
        <div class="col-md-6 mb-3">
            <label for="validationCustom01">Nom de l'épreuve</label>
            <input type="text" name="name" class="form-control" id="validationCustom01" value="{{ contest.name }}" required>
            <div class="invalid-feedback">
                Vide
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <label for="validationCustom02">Lieu de l'épreuve</label>
            <input type="text" name="location" class="form-control" id="validationCustom02" value="{{ contest.location }}" required>
            <div class="invalid-feedback">
                Vide
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <label for="validationCustom02">Début de l'épreuve</label>
            <input type="text" name="begin" class="form-control" id="validationCustom02" value="{{ contest.beginAt }}" required>
            <div class="invalid-feedback">
                Vide
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <label for="validationCustom02">Fin de l'épreuve</label>
            <input type="text" name="end" class="form-control" id="validationCustom02" value="{{ contest.endAt }}" required>
            <div class="invalid-feedback">
                Vide
            </div>
        </div>
        <button class="btn btn-success" name="finish" type="submit">Terminer</button>
        <button class="btn btn-success" name="next" type="submit">Participants</button>
    </form>
{% endblock %}
