{% extends "index.html.twig" %}

{% block title %}Participants{% endblock %}
{% block content %}
    <h1>Liste des participants</h1>
    <div class="table-responsive">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Dossard</th>
                    <th scope="col">Date de naissance</th>
                    <th scope="col">Email</th>
                    <th scope="col">Photo</th>
                </tr>
            </thead>
            <tbody>
                {% for competitor in competitors %}
                    <tr>
                        <td>{{ competitor.name }}</td>
                        <td>{{ competitor.firstName }}</td>
                        <td>{{ competitor.raceNumber }}</td>
                        <td>{{ competitor.birthDate|date('d/m/Y', timezone="Europe/Paris") }}</td>
                        <td>{{ competitor.emailAddress }}</td>
                        <td>{{ competitor.photo }}</td>
                    </tr>
                {% else %}
                    <p class="">Aucun participant, voulez-vous en ajouter un ?</p>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
