{% extends "index.html.twig" %}

{% block title %}Participants{% endblock %}
{% block content %}
    <a href="/epreuve/modification/{{ contestIdentifier }}" class="btn btn-secondary">Retour à l'épreuve</a>
    <!--<a href="/epreuve/participant/ajout/{{ contestIdentifier }}" class="btn btn-primary">Ajouter un participant</a>-->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addCompetitorModal">
        Ajouter un participant
    </button>

    <!-- Modals -->
    {% block modals %}{% endblock %}

    <h1>Liste des participants</h1>
    <div class="table-responsive">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Action</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Dossard</th>
                    <th scope="col">Date de naissance</th>
                    <th scope="col">Email</th>
                    <th scope="col">Photo</th>
                </tr>
            </thead>
            <tbody>
                {% for competitor in competitors %}
                    <tr>
                        <td><a href="/epreuve/participant/suppression/{{ contestIdentifier }}/{{ competitor.identifier }}" class="btn btn-danger">Supprimer</a><a href="/epreuve/participant/modification/{{ contestIdentifier }}/{{ competitor.identifier }}" class="btn btn-warning">Modifier</a><a href="/epreuve/participant/{{ contestIdentifier }}/{{ competitor.identifier }}" class="btn btn-secondary">Voir</a></td>
                        <td>{{ competitor.name }}</td>
                        <td>{{ competitor.firstName }}</td>
                        <td>{{ competitor.raceNumber }}</td>
                        <td>{{ competitor.birthDate }}</td>
                        <td>{{ competitor.emailAddress }}</td>
                        <td>{{ competitor.photo }}</td>
                    </tr>
                {% else %}
                    <p class="">Aucun participant, voulez-vous en ajouter un ?</p>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
